<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.syaccp.easybuy.mapper.NewsMapper">
	<resultMap id="BaseResultMap" type="com.syaccp.easybuy.entity.News">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	
<!-- 	<insert id="insertList" parameterType="list" useGeneratedKeys="true" keyProperty="id" > -->
<!--     insert into xx -->
<!--     (c1,c2) -->
<!--     values -->
<!--     <foreach collection="list" item="it" separator=","> -->
<!--         (#{it.c1},#{it.c2}) -->
<!--     </foreach> -->
<!-- </insert> -->
	
	<sql id="Base_Column_List">
		id, title, content, create_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />



		from t_news
		where id = #{id,jdbcType=INTEGER}
	</select>

	<select id="selectByTitle" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />

		from t_news
		<where>

			<if test="title != null and title!=''">
				and title = #{title}
			</if>


		</where>



	</select>


	<select id="selectForEachArray" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />

		from t_news
		where id in
		<foreach item="idcc" collection="arr" open="(" separator=","
			close=")">
			#{idcc}
		</foreach>





	</select>


	<select id="selectForEachList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />

		from t_news
		where id in
		<foreach item="idcc" collection="arr1" open="(" separator=","
			close=")">
			#{idcc}
		</foreach>





	</select>

	<select id="findAll" resultMap="BaseResultMap">
		select id, title, content, create_time
		from t_news
		order by id desc
	</select>

	<delete id="deleteByPrimaryKey">
		delete from t_news
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insert" parameterType="com.syaccp.easybuy.entity.News" useGeneratedKeys="true" keyProperty="id">
		insert into t_news
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="content != null">
				content,
			</if>

		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>

		</trim>
	</insert>
	<update id="update" parameterType="com.syaccp.easybuy.entity.News">
		update t_news
		<set>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=VARCHAR},
			</if>



		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

</mapper>